.main {
	width: 1120px;
	margin: auto;
	padding: 40px 0px;
	color: $font_color;

	ul.abilities {
		margin-bottom: 40px;
		font-size: 18px;
	}

	.photos {
		font-size: 0px;
		margin-bottom: 40px;
		img {
			margin: 3px;
		}
	}

	ul.exercises {
		font-size: 18px;
	}
}