footer
	.container
		.info
			p Жизнь – театр и люди в нем актёры.
			p
				| Вся Ваша жизнь прошла в тени, но всё это время Вы мечтали раскрыться перед всем миром? Не знаете с чего начать? Начните открывать свои таланты вместе с нашей школой.
			p
				| Только в нашей школе вы получите шанс научится основам ораторского искусства, актерского мастерства и управления своими эмоциями. Только наша школа поможет Вам приобрести настоящих друзей в лице интересных личностей и стать профессионалами в направлении актерского мастерства.
			p
				| Только в школе актерского мастерства Вы сможете в полной мере развить все свои творческие способности. Приходите к нам, и мы поможет Вам окунуться в загадочный театральный мир актерского мастерства.
		.contacts
			p 8-905-377-34-43
			p 8-908-339-47-69
			p Казань, ул. Бутлерова 30А