doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Театр-студия Игра
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='description' content='Театр студия и курсы ораторского искусства в Казани' />
		<meta name='keywords' content='актерские курсы, школа актерского мастерства, оратоское искусство, ораторское мастерство' />
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var articles = true
			include ./include/header
			.main
				h1 Статьи
				h3 Как актерское мастерство помогает в жизни?
				.article__fulltext
					p.
						Все больше людей самых разных профессий обращаются к театральным техникам. Действительно, система воспитания актера заслуживает внимания.
					p.
						Ценный навык - <strong>снятие напряжения и психофизического зажима</strong>. Многие телесно-ориентированные практики нацелены на это, но только актерское мастерство предполагает снятие зажима в состоянии здесь и сейчас ( в ситуации!). Давайте посмотрим как это работает! Итак на сцене Вам необходимо искать выразительные средства, преодолевать волнение, переключать внимание, быть убедительным каждую секунду. Актер- это очень собранный человек, работающий в состоянии высокой активности и эмоциональности, на сцене ведь важна каждая деталь, события развиваются стремительно. В жизни же человек действует бессознательно опираясь на приобретенный опыт, социальные установки и находится во власти эмоций как своих так и чужих. В жизни мы даже не задумываемся почему же именно волнение и страх возникают перед выходом на сцену и что это можно поменять. Мы просто волнуемся и ничего не можем с этим сделать. Спешу Вас обрадовать! Это всего лишь иллюзия, что ничего поделать нельзя. У Вас сформировалась такая привычка! Похожая история, когда возникает дискомфорт в общении. Например с человеком высокопоставленным, более значимым, с которым вынуждены общаться.
					p.
						<strong>Обратите внимание как при этом ведет себя ваше тело</strong>, речевой аппарат, что творится в голове. Скорее всего мысли хаотичны ( паника или ступор) тело суетливо или нарочито расслаблено ( в любом случае напряженно), речь пытаемся удерживать и контролировать иногда вообще не знаем что сказать. Если у Вас есть хотя бы один такой признак , обязательно приходите на курсы актерского мастерства. Через несколько занятий Вы почувствуете, что общаться стало намного легче! Ум успокоился , тело стало более управляемым, речь связанна, голос звучит открыто. Вам удалось сформировать новую привычку.
					p.
						И еще один не менее важный момент! Это глубокий эмоциональный зажим. Вот если Вы сходили на разные театральные курсы и не только, но все равно большого изменения не произошло. Возможно есть подавленные эмоции. Тема эта пока еще новая и практиков мало. У многих людей такое состояние присутствует. На самом деле через игру на сцене можно и нужно научиться сбрасывать и это напряжение. Тогда у человека открывается ресурсное состояние, появляется энергия!
					p.
						От всей души я желаю Вам успехов в саморазвитии. И благодарю за интерес к театральным курсам! Всегда рада дружескому общению с заинтересованными людьми!
			include ./include/footer
