doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Театр-студия Игра
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='description' content='Театр студия и курсы ораторского искусства в Казани' />
		<meta name='keywords' content='актерские курсы, школа актерского мастерства, оратоское искусство, ораторское мастерство' />
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var articles = true
			include ./include/header
			.main
				h1 Статьи
				.articles__container
					.article
						a(href="/article-1.html")
							h3.article__title Что делать, если выступление уже завтра? А ты не готов!
						.article__text.
							Что делать, если выступление уже завтра? А ты не готов!
							И начинается паника!!! Степень у всех разная) Не будем сейчас выяснять почему же так случилось, это тема другой статьи.
							К сожалению на полный курс ораторского мастерства и техники речи одного вечера нам не хватит, но сейчас необходимо собраться
							и понять что всего за час ( и меньше!) мы можем все исправить!
						a(href="/article-1.html").article__readbut читать далее...
					.hr
					.article
						a(href="/article-2.html")
							h3.article__title Для тех, кто самостоятельно развивает ораторские навыки
						.article__text.
							Хочу отметить, что такие люди трудолюбивы и целеустремленны.
							Конечно нужна система- под этим словом я имею ввиду постоянные тренировки.
							Что же касается научного подхода он может быть разным, авторов сейчас много.
							Но обратите внимание, что большинство книг - это набор техник или советов ( возможно они подходят для вас),
							но поиск займет много времени. Нужна практика и собственный опыт.
						a(href="/article-2.html").article__readbut читать далее...
					.hr
					.article
						a(href="/article-3.html")
							h3.article__title Как актерское мастерство помогает в жизни?
						.article__text.
							Все больше людей самых разных профессий обращаются к театральным техникам. Действительно, система воспитания актера заслуживает внимания.
							Ценный навык - снятие напряжения и психофизического зажима.
							Многие телесно-ориентированные практики нацелены на это, но только актерское мастерство
							предполагает снятие зажима в состоянии здесь и сейчас ( в ситуации!).
						a(href="/article-3.html").article__readbut читать далее...
			include ./include/footer
