doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Театр-студия Игра
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='description' content='Театр студия и курсы ораторского искусства в Казани' />
		<meta name='keywords' content='актерские курсы, школа актерского мастерства, оратоское искусство, ораторское мастерство' />
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var articles = true
			include ./include/header
			.main
				h1 Статьи
				h3 Что делать, если выступление уже завтра? А ты не готов!
				.article__fulltext
					p.
						И начинается паника!!! Степень у всех разная) Не будем сейчас выяснять почему же так случилось, это тема другой статьи. К сожалению на полный курс ораторского мастерства и техники речи одного вечера нам не хватит, но сейчас необходимо собраться и понять что всего за час ( и меньше!) мы можем все исправить!
					p.
						<strong>Итак шаг первый</strong>: составь примерный план. Помни! Если не понравится все можно поменять. Не выдумывай слишком долго и не пиши сложные речевые обороты, все равно забудешь, да и слушатели не оценят! А вот шутку можно зафиксировать, если придумалась. На план у тебя - 10 минут. План- это короткие тезисы.
					p.
						В начале своего выступления обрати внимание на создание контакта. То есть твоя цель, когда ты только вышел на публику- не загрузить людей информацией, а создать контакт)
					p.
						<strong>Шаг второй</strong>: Организуй репетицию и проговори свою речь вслух! В одиночестве, поставив стульчики, подушки, кота, цветы- расскажи им все- все))) если чувствуешь скованность и нелепость ситуации об этом тоже можешь искренне им сказать, поимпровизируй. Заметь ощущение неловкости ( почти как перед выступлением) и как ты при этом выглядишь со стороны? А как бы тебе хотелось выглядеть? Давай расправим плечи, снимем напряжение с лица и оторвем взгляд от пола) Глубокий вдох и выдох, напряжение - расслабление тела- это то что можно сделать до выхода на сцену ( поищи свое движение! ) Просто позволь телу выбросить негативную эмоцию. Теперь пробуем создать состояние уверенности и позитива и уже из такой позиции проговори свою речь от начала до конца.
					p.
						Закончи выступление пожеланием мира и добра. Помни даже если информационная часть закончилась, общение продолжается!
					p.
						<strong>Шаг третий</strong>: Порепетируй еще раз) И без остановок от начала и до конца. Только так ты можешь быть уверен. Утверди план! Создай настрой! Помни начало и конец твоей речи - это контакт со зрителями)
					p.
						<strong>Хотелось бы отметить то , чего следует избегать!</strong> Это открытые вопросы типа: что же еще вам рассказать? Что вы хотите услышать? Что вы знаете по этой теме? Помни! Зрители приходят послушать твое выступление) Вопрос должен быть закрытым и коротким. Вы согласны, что так гораздо удобнее? Ведь зритель ответит ( да или нет) ответит очень коротко кивком головы. Этот прием ораторского искусства очень часто встречается и хорошо помогает создать контакт.
					p.
						Слова паразиты, союз И, сложные речевые обороты. Это настоящий бич современного оратора. Они отвлекают, запутывают, выбивают из темы. Что делать? Научиться ставить точку и делать паузу. На эту тренировку уйдет несколько дней. Помогают пересказы текста, упражнения на внимание.
					p.
						<strong>Поделюсь упражнением для диктора</strong>: необходимо записывать свой рассказ и отслеживать. Сесть удобно, закрыть глаза, придумать тему и начать говорить вслух. Предложения должны быть не длиннее 7 ми слов (меньше можно, больше нельзя) Можно загибать пальцы и на восьмом ставить точку, чем бы не закончилось. Слово паразит тоже точка. Надо новое предложение начинать. Так в течении семи дней работаем по (15 минут )с закрытыми глазами, а потом с открытыми глядя перед собой еще неделю , каждый день ( Вы диктор !!! Не забудьте! Вас по телевизору показывают!) это упражнение хорошо помогает наработать внимание и привычку говорить грамотно.
					p.
						Кроме этого есть еще много упражнений на эмоции, красоту звучания и силу голоса, спонтанную речь. Я всегда рада пообщаться с людьми, которые интересуются саморазвитием)! Мне важно знать что еще ты хотел бы узнать? Отправить мне письмо можно на почту: 89053773443@yandex.ru
					p.
						Буду рада видеть на мастер- классе и пообщаться в режиме online )
			include ./include/footer
