doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Театр-студия Игра
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='description' content='Театр студия и курсы ораторского искусства в Казани' />
		<meta name='keywords' content='актерские курсы, школа актерского мастерства, оратоское искусство, ораторское мастерство' />
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var articles = true
			include ./include/header
			.main
				h1 Статьи
				h3 Для тех, кто самостоятельно развивает ораторские навыки
				.article__fulltext
					p.
						Эта статья для тех, кто самостоятельно развивает ораторские навыки.
					p.
						Хочу отметить, что такие люди трудолюбивы и целеустремленны. Конечно нужна система- под этим словом я имею ввиду постоянные тренировки. Что же касается научного подхода он может быть разным, авторов сейчас много. Но обратите внимание, что большинство книг - это набор техник или советов ( возможно они подходят для вас) , но поиск займет много времени. Нужна практика и собственный опыт. Хорошо, если Вы ведете дневник наблюдения и всегда записываете свои ощущения. Намного понятнее над чем работать, когда оратор увидит свои сильные и слабые стороны. Хочу помочь вам в этом и расскажу здесь про некоторые параметры, по которым можно отслеживать свое выступление.
					p.
						Первый шаг для многих связан с уверенностью в себе во время публичных выступлений. Наработать смелость и преодолеть страх проще всего в группе - это курсы или тренинги. Именно этот шаг сделать самостоятельно сложнее всего! Но если все же решили самостоятельно, тогда начинайте с эмоций. Посмотрите на разных ораторов, попробуйте уловить их внутреннее состояние. Вы можете вспоминать образ успешного оратора перед выходом к аудитории. Это поможет отвлечься и переключиться. Большую пользу приносит работа с телом, умение расслаблять мышечный зажим.
					p.
						Самостоятельно можно работать над речью легко и просто. Четкость произношения- это дикция. Здесь конечно скороговорки и чтение вслух. Раскрытие голоса - пение, упражнения на постановку дыхания. Научиться звучать на выдохе- это хороший навык для оратора. Чтобы голос не был монотонным можно научиться работать с громкостью, темпом, диапазоном. Опишу здесь такое упражнение по речи, которое помогает раскрыть полное звучание- диапазон. Итак, звук может быть низким. Переносим внимание вниз живота и пробуем на выдохе очень низкий гласный ( например "а") озвучить. Вдох носом на выдохе протяжный и громкий звук. В начале будет сложно удержать внимание и вы услышите как звук гуляет - он не однородный. Сделайте несколько подходов. Второй центр внимания - грудная клетка, звук средний , звучащий естественно ( скажите громко "да" - это ваш обычный голос) Пробуем звучать из этого центра , также на выдохе , протяжно, громко. И третий центр макушка головы- высокий звук ( писклявый) найдите такой звук , который не напрягает связки. Учитесь выдыхать вместе со звуком, это дает силу голосу. Упражнение помогает обрести силу и красоту звучания, управлять голосом.
					p.
						Практик очень и очень много! Самоучкам приходится нелегко. Желаю Вам терпения и хороших источников информации!!! Пишите мне, я вконтакте: <a href="http://vk.com/r.fortuna">Римма Фортуна</a>. Буду рада пообщаться с заинтересованными людьми)))

			include ./include/footer
