doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Курсы актерского мастерства отзывы
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var for_life = true
			include ./include/header
			.main.our_programs
				h1 Ораторское мастерство
				h2 Моя история 

				p Модное  направление в современном мире тренингов и различных программ  по творческому развитию личности- это театральные курсы.  Но для меня – это было чем-то большим, чем просто увлечение  театром.  Когда я познакомилась  с  курсом в 2006-м году, моя личная жизнь с грохотом  катилась под откос, семья разваливалась, я переживала трагедию, и мне казалось, что выхода нет.  Но вот однажды мне на глаза попалось объявление с приглашением на бесплатное занятие по курсам актерского мастерства и я, несмотря на то, что уже имела диплом режиссера и даже работала преподавателем, решила сходить  и посмотреть что же это такое: актерское мастерство для жизни. Именно для жизни, со сценой все было понятно, профессионально выступать я умела.  Сказать, что мне понравилось - это очень мало. Я увидела систему, которая работает и ее можно применять! Все чему я училась : сценическая речь, сценическое движение, актерское искусство, режиссура – вдруг стали мне понятны совершенно по-новому. 

				h3 Решение нашлось

				p Все встало на свои места, когда я начала применять психотехники по управлению эмоциональным состоянием. И я научилась справляться со стрессом и депрессией, научилась доверять себе, от этого энергии во мне прибавилось настолько, что я решила заняться развитием и внедрением программы в жизнь. Также привлекало и то, что у ребят были потрясающие результаты: страх сцены преодолевался достаточно быстро,  у кого-то третье или четвертое публичное выступление проходило уже без волнения и вполне осознанно. Эмоциональная выразительность и гибкость развивались и от этого, открывались новые познания в восприятии и ,конечно же, ощущение рутины и скуки пропадало.  

				h3 Что дают упражнения по актерскому мастерству?

				p Я на курсах, в Театр-Студии  Игра, даю техники для самостоятельной работы, чтобы каждый мог в любой момент применить свои знания и улучшить свою жизнь в любой сфере. Наверное, вам уже интересно, как же это так происходит? Все гениальное просто! Дело в том, что наше подсознание может все и все возможно ,и нет никаких границ и пределов. При желании любой человек способен достичь цели.

				h3 Убираем рамки, которые мешают.

				p Рамки мы сами себе ставим - своим умом, также как и внушаем себе разные негативные установки вроде этих: «меня никто не любит» «мне не везет» « все достало» « что обо мне подумают» « я выгляжу ужасно! Как дурак!» особенно на сцене!- добавляет кто-то очень серьезным голосом у тебя в голове, когда подходит очередь выступить. Назовем это явление- внутренний монолог. Это наши мысли, разговор с самим собой, привычные установки. Можно ли отключить его? Конечно! И довольно просто. Надо сначала понять, что он есть, а затем переключить свое внимание. Наша воля может направлять внимание по желанию куда угодно. Для этого надо сделать усилие и некоторое время применять техники, чтобы закрепить результат. Развивается и усиливается то, на что мы обращаем внимание: если это страх сцены, то он будет увеличиваться!

				h3 Формирование позитивного мышления.

				p Или например: отсутствие денег. Если направлять внимание на бедность, то денег больше не станет, как бы странно это ни звучало.  Итак, о чем все это? Конечно же о том, что наши мысли материальны! Это всем давно известно , но лишь единицы могут этим управлять. Много сейчас говорят о позитивном мышлении, но вот прийти к нему не так-то и просто. Особенно, если человек привык жить в негативе, а так живет большинство людей. Включите телевизор, послушайте бабушек у подъезда, или может кого-то из своих знакомых: все плохо и скоро конец света, как страшно жить, мы все умрем!  Так сложилось еще в первобытнообщинном строе, негативная информация была необходима для выживания и люди сообщали: чего делать не надо и где что происходит. 

				h3 Преодоление страха.

				p Сейчас угрозы жизни уже меньше, а привычка всего бояться осталась. в любом деле, какое бы мы не начали – первое с чем приходиться сталкиваться- это страх.  И актерское искусство для жизни, как ни странно, может помочь в его преодолении, пожалуй, даже лучше всех. Почему же? Есть такое мнение, что страх сцены находится на втором месте, после страха смерти. Понимаете о чем я? Если человек преодолевает этот «страшный страх», то его уверенность в себе возрастает. Вот почему так важно иногда пробовать  сделать что-то не привычное! Я говорю о простых вещах и вполне моральных.  На сцене ничего не угрожает вашей жизни, это самое безопасное место и людей много вокруг!  Вам точно ничего не грозит, ну кроме насмешек и критики! На занятиях по актерскому мастерству мы учимся относится к критике спокойно и снимать серьезное отношение к происходящему! А вот вождение машины уже связанно с риском для жизни и здесь не до шуток!  Вспомните, как в первый раз выезжали в город! А те у кого нет еще прав, представьте, что вам надо сесть за руль самому! Ноги подкашиваются, руки дрожат или холодеют, к горлу подкатывает ком. Представили! А теперь постарайтесь увидеть свое тело в этот момент. Напряглись мышцы, сгорбилась спина. Переключая внимание на свое тело, мы можем снимать напряжение и таким образом уменьшать эмоцию страха. 
				h3 Снятие напряжения и легкость. 
				p Ведь актерский профессионализм на сцене заключается в быстром переключении от одного состояния к другому. А в жизни достаточно научиться контролировать негативные эмоции. Если применять технику регулярно, то и вовсе обнулять эмоцию. То же самое происходит, когда нас что-то обижает или смущает. Наше тело выдает наши мысли! Театральные курсы помогают научиться чувствовать и понимать внутреннее состояние и его внешние проявления. Можно и дома тренироваться. Попробуйте полностью расслабиться лежа на кровати и вы начнете засыпать. Потому что, от расслабления мышц и внутреннее состояние тоже стало успокаиваться и постепенно мысли перестали вызывать в нас эмоции, ощущения пришли на их место. Какие ощущения? Осознанность своего тела, присутствие здесь и сейчас. Попробуйте в разных ситуациях переключать внимание на свою позу, жесты, мышечный зажим.  Если у вас есть практика публичных выступлений и ораторское мастерство вам интересно, то понаблюдайте за собой в те моменты, когда аудитория задает каверзные вопросы и снимайте напряжение, если оно возникло. Отвечайте с юмором и легкостью, даже на самые обидные вопросы. Переключение внимания - это всего лишь одна из техник. Понятно, что если рассматривать последний пример, то все не так просто и здесь задеты многие механизмы: 

				h3 Спонтанная речь или как свободно говорить о чем угодно.

				p Сама система обучения довольно насыщенная. Она включает много игр и упражнений из разных тренингов, чтобы соответствовать запросам современных людей и давать полезные навыки. А так как сейчас многие выступают с различными презентациями, то не только актерское, но и ораторское искусство, развитие речи необходимо включать в программу. Особое внимание стоит уделить импровизациям, ведь именно они развивают уверенность и сценическую свободу, раскрепощают, учат придумывать на ходу.  Моя сильная сторона- это спонтанная речь, как часть ораторского мастерства! Я могу сочинять на ходу что угодно и даже стихи) И как оказалось есть такие упражнения, которые даже отчаянным молчунам помогают заговорить. А если Вы хотите связать свою жизнь с театром или сценой и решили поступать в театральный вуз,  то этот навык вам просто необходим. 

				p Полезно делать упражнения в группе на занятиях актерским мастерством, но можно и самостоятельно тренироваться. Если говорить про развитие речи, то здесь важно запустить так называемый «бредогенератор»  и он связан с чувством позволения или иначе со способностью нести всякую чушь, не задумываюсь, как выглядишь со стороны и что о тебе подумают. И это опять наши страхи и сомнения! Наверное ,кто-то из моих читателей не понимает, а зачем это надо?  Это необходимо сделать в упражнении, чтобы потом в жизни было проще говорить на любую тему с любой аудиторией.  К тому же образная речь, дает более точное и понятное изложение материала. И очень хорошо, когда вы говорите своими словами. Так возникает живое общение.  А если вы еще  эмоциональны и энергичны, то успех обеспечен. 

				p Само-собой разумеется, что есть еще очень много секретов как создать атмосферу взаимопонимания, научиться играть различные роли, общаться и понять других людей и даже самого себя.  Я сегодня рассказала только про малую часть системы обучения. Буду рада видеть вас на моих занятиях!  

				p Актерское мастерство в Казани для жизни и сцены – это веселая игровая программа, практические занятия, много эмоций и общения. Вам не надо ничего записывать, ведь мы все делаем на практике. Приходите на курсы актерского мастерства.

				p Адрес: Казань, ул. Бутлерова 30А
			include ./include/footer
