doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Театр-студия Игра
    script(type='text/javascript', src='js/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/script.js')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    .container
      header
        img(src='img/logo.png', alt='')
        .phone 8-905-377-34-43
        h2 Актерское мастерство и ораторское искусство
        nav
          ul
            a(href='#')
              li.active
                span Главная
            a(href='#')
              li
                span Курсы
            a(href='#')
              li
                span Наши программы
            a(href='#')
              li
                span Отзывы
            a(href='#')
              li
                span Контакты
            a(href='#')
              li
                span Для жизни
      .main
        h1 Школа актерского мастерства
        h2 Театр-студия и курсы ораторского мастерства
        .hr
        h3 Добро пожаловать в нашу театральную студию! На наших курсах, вы:
        ul.abilities
          li
            | Научитесь 
            strong уверенно и свободно
            |  выступать, как актер и оратор!
          li
            | Общаться 
            strong с любым
            |  человеком на любую тему!
          li
            | Раз и навсегда преодолеете свои 
            strong страхи
            |  (не только сценофобию, но и многие другие)
          li
            | Станете более 
            strong чутким
            |  и психологически гибким. Сыграете самые разные роли!
          li Научитесь управлять своим эмоциональным состоянием. 
          li
            | Станете более 
            strong убедительным, харизматичным и влиятельным
            | !
          li
            | Мы поможем вам понять, как эффективнее достичь ваших 
            strong целей
            |  в жизни;
          li
            | Разовьете способность 
            strong спонтанности и импровизации
            |  в творчестве и в жизни!
          li
            | Также на наших курсах вы познакомитесь с 
            strong интересными людьми
            | !
        .photos
          img(src='img/photos/1.png', alt='')
          img(src='img/photos/2.png', alt='')
          img(src='img/photos/3.png', alt='')
          img(src='img/photos/4.png', alt='')
          img(src='img/photos/5.png', alt='')
          img(src='img/photos/6.png', alt='')
          img(src='img/photos/7.png', alt='')
          img(src='img/photos/8.png', alt='')
          img(src='img/photos/9.png', alt='')
        .hr
        h3 На наших курсах:
        ul.exercises
          li Упражнения на развитие пластики;
          li Развитие творческих способностей;
          li Речевые техники;
          li Актерские техники;
          li Психотехники.
      footer
        .container
          .info
            p Жизнь – театр и люди в нем актёры.
            p
              | Вся Ваша жизнь прошла в тени, но всё это время Вы мечтали раскрыться перед всем миром? Не знаете с чего начать? Начните открывать свои таланты вместе с нашей школой.
            p
              | Только в нашей школе вы получите шанс научится основам ораторского искусства, актерского мастерства и управления своими эмоциями. Только наша школа поможет Вам приобрести настоящих друзей в лице интересных личностей и стать профессионалами в направлении актерского мастерства.
            p
              | Только в школе актерского мастерства Вы сможете в полной мере развить все свои творческие способности. Приходите к нам, и мы поможет Вам окунуться в загадочный театральный мир актерского мастерства.
          .contacts
            p 8-905-377-34-43
            p 8-908-339-47-69
            p Казань, ул. Бутлерова 30А
