doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Наши программы
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='description' content='Обучение учеников на курсах актерского мастерства в казани' />
		<meta name='keywords' content='ораторское искусство, тренинг ораторского искусства, техника речи, развитие речи' />
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var our_programs = true
			include ./include/header
			.main.our_programs
				h1 Наши тренинги и программы
				.hr
				h2 Курсы актерского мастерства. 
				p Занятия 2 раза в неделю по 2 часа. 
				p Юношеская и детская группа с 17ч. 3 месяца-12 месяцев. 
				p Взрослая группа с 19ч до 21ч.  3 месяца- 12 месяцев.
				.hr
				h2 Тренинг "Ораторское искусство"
				p суббота и воскр. с 10ч до 19ч. + месяц доп. занятий. Ближайший тренинг 7 и 8 февраля.
				.hr
				h2 Курс "Магический театр". Актер театра "Плейбек". 
				p По мере набора группы.
				.hr
				h2 Тренинг "Креативное мышление- путь к успеху" 
				p По мере набора группы.
				.hr
				h2  БЕСПЛАТНЫЕ ПРОБНЫЕ ЗАНЯТИЯ!!! Один раз в неделю.
				p - Курсы ораторского искусства (ораторское искусство)
				p - Курсы актерского мастерства

				p также духовные практики: Тантра, Йога, Пилатес для наших учеников со скидкой!
			include ./include/footer
