doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Наши программы
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var our_programs = true
			include ./include/header
			.main.our_programs
				h1 Наши тренинги и программы
				p Курсы актерского мастерства. Занятия 2 раза в неделю по 2 часа. 
				p Юношеская и детская группа с 17ч. 3 месяца-12 месяцев. 
				p Взрослая группа с 19ч до 21ч.  3 месяца- 12 месяцев.

				p Тренинг "Ораторское искусство" - суббота и воскр. с 10ч до 19ч. + месяц доп. занятий. Ближайший тренинг 7 и 8 февраля.

				p Курс "Магический театр".  актер театра "Плейбек". По мере набора группы.

				p Тренинг "Креативное мышление- путь к успеху" По мере набора группы.

				p БЕСПЛАТНЫЕ ПРОБНЫЕ ЗАНЯТИЯ!!! Один раз в неделю.
				p - Курсы ораторского искусства (ораторское искусство)
				p - Курсы актерского мастерства

				p также духовные практики: Тантра, Йога, Пилатес для наших учеников со скидкой!
			include ./include/footer
