doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Тренинг по ораторскому искусству Казань
		<meta name='description' content='Подробная программа тренинга по ораторскому мастерству в Казани' />
		<meta name='keywords' content='раторское искусство, ораторское мастерство, программа ораторского мастерства, обучение, тренинг' />
		script(type='text/javascript', src='js/script.js')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		.container
			- var trening = true
			include ./include/header
			.main.our_programs
				h1 Тренинг по ораторскому искусству Казань
				.hr
				h2 Программа тренинга:
				p Преодоление страха публичных выступлений - первый важный шаг и примерно 80% людей приходят именно поэтому. Бывает страх до выхода на сцену и во время выступления (как кратковременные панические атаки). На тренинге Вы на практике поймете и почувствуете как можно справляться с таким явлением и сформировать позицию уверенности в себе. Позиция уверенности - это некое эталонное состояние, которое необходимо наработать и закреплять на практике.
				p <strong>Я как тренер, заинтересована в Вашем успешном обучении. Поэтому плюс к тренингу Вы еще получаете месяц бесплатных занятий на курсах.</strong> 
				p Техника речи - это развитие дикции и голоса. Артикуляция - нужна для четкости речи. А выразительный и звучный голос- это очень большой плюс и на сцене и в жизни. Оратору также важно владение спонтанной речью. Ведь выученная наизусть речь звучит не так живо и общение получается однобокое или же не получается совсем. Есть также опасность забыть текст. Поэтому самое лучшее - это научиться говорить свободно и лаконично, своими словами.
				p Тренинг состоит из упражнений в парах и группах и индивидуальных выступлений - общения с аудиторий. Мы всегда работаем по принципу обратной связи. И изучаем приемы эффективного общения. Какие жесты и эмоции воздействуют на слушателей. Как создавать контакт. Что такое атмосфера и какие есть универсальные позиции в эмоциональной подаче оратора, чтобы оказать необходимое воздействие на слушателей. Развеселить или наоборот утихомирить.
				img.photo(src="img/photos/trening1.jpg")
				h2 Упражнение на спонтанную речь:
				p Итак, если Вам важно научиться рассказывать интересно, тогда начните формировать связь образного мышления и речи. Берем любое, простое слово (существительное) - например " стена" и сразу же надо представить образ в воображении. Появляется картинка и там еще какое-то существительное возникнет - "кирпич", "картина" или "обои". Озвучиваем это слово - снова картинка и новое слово появляется в воображении - " стена - картина - цветок" и т.д.
				h2 Интереснее играть в паре или группе.
				p В случае индивидуального выполнения задания - говорить нужно вслух. С каждым разом образы будут возникать быстрее и говорить будет легче. Обратите внимание на то, что всегда следует представить слово в воображении, а не говорить наобум.Упражнение для голоса: простое и эффективное упражнение - зевок. Научимся зевать с закрытым ртом и задерживать зевок внутри. Это тренирует внутренние мышцы, расширяет гортань и снимает напряжение со связок. Попробуйте так же поговорить или попеть с этой позиции. Голос будет звучать забавно (как у оперного певца).
				p Если его периодически повторять, то Вы почувствуете положительное влияние на звучание и громкость голоса.
			include ./include/footer
