$main_font : "Minion Pro", serif;
$red_font : #c43a3a;
$font_color: #2e2e2e;


* {
	box-sizing:border-box;
}


body {
	margin: 0px;
	padding: 0px;
	font-family: $main_font;
}

header {
	background: $font_color;
	width: 100%;
	text-align: center;

	h2 {
		margin-top: 0px;
		color: $red_font;
		font: 300 36px $main_font;
	}

	.phone {
		font: 700 53px $main_font;
		color: $red_font;
	}

	ul {
		height: 45px;
		a {
			display: inline-block;
		}
		li {
			font: normal 16px $main_font;
			display: table;
			height: 45px;
			width: 150px;
			text-decoration: none;
			color: #fefefe;
			text-transform: uppercase;
			span {
				display: table-cell;
				vertical-align: middle;
			}

		}

		li.active {
			background: #eaeaea;
			color: #2e2e2e;

			
		}
	}
}

.main {
	width: 1120px;
	margin: auto;
	padding: 40px 0px;
	color: $font_color;
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px
	}
	.hr {
		background: #e84747;
		height: 3px;
	}

	h3 {
		font-size: 24px;
	}

	ul.abilities {
		margin-bottom: 40px;
		font-size: 20px;
	}

	.photos {
		font-size: 0px;
		margin-bottom: 40px;
		img {
			margin: 3px;
		}
	}

	ul.exercises {
		font-size: 20px;
	}
}

footer {
	background: #2e2e2e;
	width: 100%;
	color: #ffffff;
	font: normal 16px Tahoma, Arial, sans-serif;

	.container {
		width: 1120px;
		margin: auto;
		padding: 70px 0px;
	}

	.info {
		margin-bottom: 20px;
		p {
			margin: 0;
		}
	}

	.contacts {
			font-size: 20px;
		p {
			margin: 0;
		}
	}
}